<html>
  <head>
    <title><%= @title %></title>
  </head>

  <body>

    <div align="center">

      <%= @header_html  %>

      <div />

      <a href="http://rubydoc.info/gems/publisher/frames"><img border=0 src="sample_code.png"></a>
    </div>



  </body>
</html>
